<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="sh_20220622.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <userSettings>
    <sh_20220622.Properties.Settings>
      <setting name="CB_max_values" serializeAs="String">
        <value>1000000,1000000,1000000,1000000,1000000,1000000,9000000,1000000,1000000</value>
      </setting>
      <setting name="FM_max_values" serializeAs="String">
        <value>100000,100000,100000,900000000,1000000000,4200000000,4200000000,100000,100000,2000,100000,600000</value>
      </setting>
      <setting name="last_max_message" serializeAs="String">
        <value>2022-08-08</value>
      </setting>
      <setting name="Last_log_date" serializeAs="String">
        <value>2022-08-22</value>
      </setting>
      <setting name="Test＿Mode" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Is_Init_Errors" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Class_Time" serializeAs="String">
        <value>8,30,17,30,18,0,24,0,-1,-1,-1,-1</value>
      </setting>
      <setting name="Three_Shift" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Language" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Class_Time2" serializeAs="String">
        <value>8,0,20,0,20,0,8,0,-1,-1,-1,-1</value>
      </setting>
      <setting name="Online_Test_Mode" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IP" serializeAs="String">
        <value>192.168.1.140</value>
      </setting>
      <setting name="port" serializeAs="String">
        <value>32000</value>
      </setting>
      <setting name="Product_exps" serializeAs="String">
        <value>700,700,0</value>
      </setting>
      <setting name="Shift1_Running_exps" serializeAs="String">
        <value>8</value>
      </setting>
      <setting name="Shift2_Running_exps" serializeAs="String">
        <value>8</value>
      </setting>
      <setting name="Shift3_Running_exps" serializeAs="String">
        <value>8</value>
      </setting>
      <setting name="Curr_Shift_Time_Passed" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Auto_Reconnect" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Code_Length" serializeAs="String">
        <value>20</value>
      </setting>
      <setting name="M_Code" serializeAs="String">
        <value>ABC</value>
      </setting>
      <setting name="M_Code_Start" serializeAs="String">
        <value>5</value>
      </setting>
    </sh_20220622.Properties.Settings>
  </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
    <remove invariant="System.Data.SQLite" /><add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" /></DbProviderFactories>
  </system.data>
</configuration>